################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug/Gel Game.tlog
/x64/Debug/World Editor.tlog
/x64/Debug
*.vcxproj
*.filters
